/* Layout */
:root{
    --preto: black;
    --verde: #00B140;
    --branco: white;
    --cinzaMetalico: #A7A9AC;
}

/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', 'Ubuntu';
}

.container{
    display: flex;
    margin: 0 auto;
}

.btn{
    text-decoration: none;
    font-size: 1.35rem;
    font-weight: 700;
    background-color: var(--preto);
    padding: 10px 20px;
    color: var(--verde);
    border-radius: 25px;
    border: 1px solid var(--verde);
    margin-top: 20px; 
}

.btn:hover{
    transition: ease 0.5s;
    box-shadow: 0px 5px 10px var(--verde),0px 10px 10px rgba(0, 0, 0, 0.15),0px 15px 15px rgba(0, 0, 0, 0.1),0px 20px 20px rgba(0, 0, 0, 0.1);
    color: var(--preto);
    background-color: var(--verde);
}
/* Fim - Layout */


/* Smartphone Portrait */

/* Cabeçalho */
header{
    height: 100px;
    background-color: var(--preto);
    border-bottom: 2px solid var(--verde);
}

#logo img{
    width: 50px;
    margin-top: 25px;
    margin-left: 50px;
}

#check{
    display: none;
}

label{
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.8rem;
    position: fixed;
    right: 30px;
    top: 28px;
}

/* Lista */
nav ul{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 100px;
    right: -30%;
    width: 30%;
    transition: all 0.5s;
}

/* Ação para a Checkbox*/
/* Quando selecionado, muda as propriedades 'ul' */

#check:checked~ul{
    right: 0px;
}

nav ul li{
    list-style: none;
    padding: 20px;
    border-bottom: 1px solid var(--cinzaMetalico);
}

nav ul li a{
    text-decoration: none;
    color: var(--verde);
}

/* Principal */
main{
    height: 30vh;
    background: url(./img/banner\ h2r.jpg);
    background-size: cover;
    background-position: center;
}

main .container{
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1{
    color: var(--verde);
    text-shadow: 0px 5px 10px var(--cinzaMetalico),0px 10px 10px rgba(0, 0, 0, 0.15),0px 15px 15px rgba(0, 0, 0, 0.1),0px 20px 20px rgba(0, 0, 0, 0.1);
    margin: 20px;
    font-size: 3rem;
}

main h2{
    color: var(--branco);
    font-size: 1rem;
}


/* Fim - Smartphone Portrait */


/* Smartphone Landscape */
@media (min-width: 576px){

    /* Layout */
    .container{
        max-width: 540px;
    }

    /* Menu */
    nav ul{
        width: 25%;
        right: -25%;
    }


    /* Principal */
    main{
        height: 100vh;
    }

    main h1{
        font-size: 4.5rem;
    }

    main h2{
        margin: 25px;
    }

    #logo img{
        margin-left: -20px;
    }
}

/* Fim - Smartphone Landscape */


/* Tablet Portrait */
@media (min-width: 768px){

    /* Layout */
    .container{
        max-width: 720px;
    }

    /* Principal */
    main{
      height: 60vh;  
    }

    main h1{
        font-size: 8rem;
    }

    main h2{
        font-size: 2.5rem;
        margin: 50px;
    }

    .btn{
        font-size: 2rem;
    }

    #logo img{
        margin-left: 30px;
    }
}

/* Fim - Tablet Portrait */


/* Tablet Landscape */
@media (min-width: 992px){

    /* Layout */
    .container{
        max-width: 960px;
    }

    /* Principal */
    main{
        height: 90vh;
    }

    main h1{
        font-size: 8rem;
    }

    main h2{
        font-size: 3rem;
        margin: 50px;
    }

    .btn{
        font-size: 3rem;
        border-radius: 50px;
    }

    #logo img{
        margin-left: -30px;
    }
}

/* Fim - Tablet Landscape */


/* Notebook | PC */
@media (min-width: 1200px){

    /* Principal */
    main{
        height: 90vh;
    }

    /* Layout */
    .container{
        max-width: 1140px;
        justify-content: space-between;
    }

    /* Cabeçalho */
    header{
        height: 150px;
    }

    #logo img{
        width: 250px;
        height: 70px;
        margin-top: 15px;
        margin-left: -20px;
    }

    label{
        display: none;
    }

    nav ul{
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 40px;
    }

    nav ul li{
        border: 0;
        float: left;
    }

    nav ul li a{
        font-size: 20px;
        color: var(--branco);
    }

    nav ul li a:hover{
        color: var(--verde);
        transition: ease 0.5s;
    }

    main h2{
        margin: 50px;
    }

    #logo img{
        width: 70px;
        margin-top: 40px;
        margin-left: 20px;
    }

}

/* Fim - Notebook | PC */


/* Full HD | 4K */
@media (min-width: 1400px){

    /* Layout */
    .container{
        max-width: 1320px;
    }

    main{
        height: 110vh;
    }

    main h1{
        font-size: 10rem;
        margin-top: -100px;
    }
    
    main h2{
        margin: 30px;
    }

    #logo img{
        width: 70px;
        height: 70px;
        margin-top: 25px;
    }
}

/* Fim - Full HD | 4K*/